/*

Table of Contents

-Header
-Body 
-h1
-h2
-img
-p
-#sales (paragraph with sales ID)
-footer

*/



header {
    font-family: Helvetica;
    width: 100%; 
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(./pattern.jpeg);
    background-size: 50%;
    margin-bottom: 80px;
}
div {
    display:inline-block;
    width:31%;
    margin:2px;
}
body {
    background-color: rgb(240, 237, 214);
    border-bottom: 100px;
}
h1{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}
h2 {
    font-family: helvetica;
    opacity: 50%;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 30%;
}

p {
    font-family: Helvetica;
    display: inline;
    border: 100px;
    margin-top: 80px;
    
}
#sales {
    font-family: Helvetica;
    font-weight: bold;
    color:blue;
    }
footer {
    margin-top: 100px;
    width:100%;
    z-index: 10;
    font-family: Helvetica;
    border-top:dotted;
    padding-top: 50px; 
    padding-bottom: 50px;
    text-align: center;

}
